/*
Color Template - Start
*/

.dark-teal {
	background-color: #193441 !important;
}

.dark-teal-text {
	color: #193441 !important;
}

.light-teal {
	background-color: #3E606F !important;
}

.light-teal-text {
	color: #3E606F !important;
}

.blue-grey {
	background-color: #91AA9D !important;
}

.blue-grey-text {
	color: #91AA9D !important;
}

.beige {
	background-color: #D1DBBD !important;
}

.beige-text {
	color: #D1DBBD !important;
}

.tan {
	background-color: #FCFFF5 !important;
}

.tan-text {
	color: #FCFFF5 !important;
}

.brown {
	background-color: #53240F !important;
}

.brown-text {
	color: #53240F !important;
}

/*
Color Template - End
*/

.text-shadow {
	text-shadow:
	0px 0px 15px #000000,
	0px 0px 15px #000000;
}

.modal {
	max-height: 80%;
}

.modal.modal-fixed-footer {
	height: 80%;
}

.imgContainer {
	position: relative;
	height: 550px;
	overflow-y: hidden;
}

.imgCaption {
	position: absolute;
	bottom: 10%;
	left: 5%;
	max-width: 90%;
}

.imgCaption.contact {
	top: 0;
}

.imgCaption h3 {
	font-size: 30px;
}

.imgCaption.contact h3 {
	font-size: 30px;
	margin-bottom: 10px;
}

.imgCaption p, .imgCaption div p{
	font-size: 12px;
	line-height: 14px;
}

.row .col.menuDiv {
	float: left;
}

footer.page-footer {
	padding-top: 0px;
	font-size: 10px;
}
footer.page-footer .container, footer.page-footer .container .row {
	height: 100px;
}

footer.page-footer .container .row .col p {
	margin: 0px;
	line-height: 1.5;
}

footer div.socialLinks {
	display: block;
	height: 100%;
	width: auto;
}

footer ul.socialLinks {
	display: block;
	height: 100%;
	width: auto;
	margin: 0px;
}

footer .socialLinks div {
	display: block;
	margin-top: 25px;
	height: 50px;
}

footer.page-footer .footer-copyright {
	background-color: rgba(0, 0, 0, 0.0);
}

@media only screen and (max-width : 600px) {
	#main {
		margin-top: 24px;
	}
	#main .container {
		width: 100%;
	}

	.imgContainer {
		position: inherit;;
		height: auto;
		overflow-y: hidden;
	}

	.imgCaption {
		position: inherit;
		bottom: 0;
		left: 0;
		max-width: 90%;

		margin-left: auto;
		margin-right: auto;
	}

	.imgCaption.contact {
		display: none;
	}

	.imgCaption h3 {
		font-size: 20px;
	}

	.imgCaption p {
		font-size: 12px;
		line-height: 14px;
	}

	.row .col.menuDiv {
		float: none;
	}

}
